@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

nav {
    position: relative;
    z-index: 1;
    height: 50px;
  }
  nav ul {
    margin: 30px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: left;
    margin-left: 104px;
    gap: 60px;
  }
.perfilImage{
    display: flex;
    cursor: pointer;
    margin-right: auto;
    margin-left: 1180px;
    margin-top: -60px;
}

.username {
    display: flex;
    cursor: pointer;
    margin-right: auto;
    margin-left: 1110px;
    margin-top: -65px;
    font-family: "Inter";
    font-size: 13px;
    color: #b6b4b4;
    transition: color 0.25s;
}

.username:hover {
    color: #fff;
}

.perfilImage img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
    border-radius: 50%;
}

.perfilImage img:hover{
    transform: scale(1.2);
}
  
        nav ul li button {
          -webkit-appearance: none;
              -moz-appearance: none;
                  appearance: none;
          border: none; cursor: pointer;
          background-color:transparent;
          padding: 0; margin: 0;
          font-family: "Inter";
          font-weight: 600;
          font-size: 16px;
          list-style: 22px;
          color: #fff;
          transition: color 0.25s;
        }
  
  nav ul li.active button {
    color: #BB4430;
  }
  nav ul li:not(.active):hover button {
    color: #807E8C;
  }

  nav ul li .active::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: blue; /* Puedes cambiar el color según tus preferencias */
    position: absolute;
    bottom: 0;
    left: 0;
  }
  nav .active-element {
    --active-element-scale-x: 1;
    --active-element-scale-y: 1;
    --active-element-show: 0;
    --active-element-opacity: 0;
    --active-element-width: 0px;
    --active-element-strike-x: 0%;
    --active-element-mask-position: 0%;
    position: absolute;
    left: 0;
    top: 34px;
    height: 3px;
    width: 36px;
    border-radius: 2px;
    background-color: #fff;
    opacity: var(--active-element-show);
  }
  nav .active-element > svg,
  nav .active-element .strike {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: var(--active-element-opacity);
    width: var(--active-element-width);
    mix-blend-mode: multiply;
  }
  nav .active-element > svg {
    display: block;
    overflow: visible;
    height: 5px;
    filter: blur(0.5px) drop-shadow(2px 0px 8px rgba(0, 117, 255, 0.4)) drop-shadow(1px 0px 2px rgba(0, 128, 255, 0.8)) drop-shadow(0px 0px 3px rgba(153, 204, 255, 0.4)) drop-shadow(2px 0px 8px rgba(137, 196, 255, 0.45)) drop-shadow(8px 0px 16px rgba(153, 204, 255, 0.5));
  }
  nav .active-element .strike {
    padding: 24px 0;
    -webkit-mask-image: linear-gradient(to right, transparent calc(0% + var(--active-element-mask-position)), black calc(15% + var(--active-element-mask-position)), black 80%, transparent);
    mask-image: linear-gradient(to right, transparent calc(0% + var(--active-element-mask-position)), black calc(15% + var(--active-element-mask-position)), black 80%, transparent);
  }
  nav .active-element .strike svg {
    display: block;
    overflow: visible;
    height: 12px;
    width: calc(var(--active-element-width) * 2);
    transform: translate(var(--active-element-strike-x), 30%) scale(var(--active-element-scale-x), var(--active-element-scale-y));
  }
  nav .active-element .strike svg:last-child {
    transform: translate(var(--active-element-strike-x), -30%) scale(-1);
  }
  nav .active-element .strike svg g path:nth-child(2) {
    filter: blur(2px);
  }
  nav .active-element .strike svg g path:nth-child(3) {
    filter: blur(4px);
  }
  nav.before .active-element {
    transform: rotateY(180deg);
  }
  
  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  * {
    box-sizing: inherit;
  }
  
  
        *:before, *:after {
          box-sizing: inherit;
        }
        body {
          min-height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #000;
          position: relative;
          overflow: hidden;
        }
  
  
  body:before {
    content: "";
    position: absolute;
    inset: 40% -60% 0 -60%;
    opacity: 0.3;
    pointer-events: none;
  }
  
  
      /* -- YouTube Link Styles -- */
  
      #source-link {
        top: 60px;
      }
  
      #source-link>i {
        color: rgb(94, 106, 210);
      }
  
      #yt-link {
        top: 10px;
      }
  
      #yt-link>i {
        color: rgb(219, 31, 106);
  
      }
  
      .meta-link {
        align-items: center;
        backdrop-filter: blur(3px);
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: inline-flex;
        gap: 5px;
        left: 10px;
        padding: 10px 20px;
        position: fixed;
        text-decoration: none;
        transition: background-color 600ms, border-color 600ms;
        z-index: 10000;
      }
  
      .meta-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
  
      .meta-link>i,
      .meta-link>span {
        height: 20px;
        line-height: 20px;
      }
  
      .meta-link>span {
        color: white;
        font-family: "Rubik", sans-serif;
        transition: color 600ms;
      }