<nav>
    <ul>
        <li [ngClass]="{'active': isProductosActive}">
            <button (click)="navigateTo('product')">PRODUCTOS</button>
        </li>
        <li [ngClass]="{'active': isAgregarActive}">
            <button (click)="navigateTo('agregar')">AGREGAR</button>
        </li>
        <li [ngClass]="{'active': isSalirActive}">
            <button (click)="cerrarSesion()">SALIR</button>
        </li>
    </ul>
    <div ngClass="username">
        <h1>{{nombreUsuario}}</h1>
    </div>
    <div ngClass="perfilImage">
        <img src="{{rutaImage}}" alt="Logo">
    </div>
</nav>