@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

nav {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

nav ul {
  margin: 30px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: left;
  margin-left: 7.7rem;
  gap: 60px;
}

.perfil {
  margin-right: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.perfilImage {
  cursor: pointer;
  margin-top: 5px;
}

.username {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1rem;
  list-style: 22px;
  color: #BB4430;
  transition: color 0.25s;
}

.perfil:hover .username {
  color: #fff;
}

.perfilImage img {
  height: 60px;
  width: auto;
  transition: all 0.3s;
  border-radius: 50%;
}

.perfil:hover .perfilImage img {
  transform: scale(1.2);
}

nav ul li button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1.2rem;
  list-style: 22px;
  color: #fff;
  transition: color 0.25s;
}

nav ul li.active button {
  color: #BB4430;
}

nav ul li:not(.active):hover button {
  color: #BB4430;
}

