@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

a {
    text-decoration: none;
}

.container-headboard, .container {
    max-width: 96%;
    padding-inline: 1rem;
    margin-inline: auto;
    border-radius: 10px;
    background-color: #231F20;
}



.card-headboard {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.5fr;
    row-gap: 2.5rem;
    color: #fff;
    font-weight: bold;
    padding-block: 1.625rem;
    text-transform: capitalize;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    text-transform: uppercase;

}

.card {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  row-gap: 2.5rem;
  color: #fff;
  padding-block: 1.625rem;
  border-top: 1px solid rgb(255 255 255 / 15%);
}

.card:last-of-type {
  border-bottom: 1px solid rgb(255 255 255 / 15%);
}

.card-number {
  font-size: 1.125rem;
  font-weight: 700;
  color: #BB4430;
}

.card-title {
 font-size: clamp(0.7rem, 1.9vw, 1.4rem);
  margin-bottom: 1rem;
  color: #BB4430;
}

.card-description {
  font-size: clamp(1rem, 1vw, 1rem);
  line-height: 1.2;
  color: #fff;
}

.card-image-wrapper {
  display: none;
}

.card-cta {
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-inline: 1.6875rem;
  border: 1px solid #BB4430;
  border-radius: 10px;
  color: #BB4430;
}


.card-btn {
    color: #BB4430;
    transition: 250ms;
    display: inline-flex;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.card-price {
    color: #BB4430;
}

.card-btn:hover {
    transform: scale(1.1);
}

.card:hover .card-title {
  filter: drop-shadow(1px 0px 2px #fff);
}

@media (width >=18em) {
  .card {
    grid-template-columns: 0.25fr 1fr 0.5fr;
    align-items: center;
    row-gap: 0;
  }

  .card-cta {
    grid-column: initial;
    margin-left: auto;
  }
}

@media (width >=50em) {
  .card {
    position: relative;
    grid-template-columns: 0.25fr 1fr 1rem 25rem 1.5rem auto;
  }

  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: 104%;
    height: 100%;
    background-color: #BB4430;
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 250ms;
  }

  .card:hover::before {
    opacity: 1;
  }

  .card-number,
  .card-description {
    transition: color 250ms;
  }

  .card:hover .card-number {
    color: #fff;
  }

  .card-image-wrapper {
    grid-column: 4 / 5;
    display: flex;
    align-content: center;
    position: absolute;
    z-index: 2;
    top: 43%;
    left: 0;
    translate: 0 -50%;
    scale: 0.75;
    border-radius: 0.5rem;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: scale 250ms, opacity 250ms, visibility 250ms;
    box-shadow: 0 0 15px 5px #fff;

  }

  .card:hover .card-image-wrapper {
    scale: 1;
    opacity: 1;
    visibility: visible;
  }

  .card-cta {
    grid-column: 6 / -1;
    transition: 250ms;
  }

  .card:hover .card-cta {
    background-color: #BB4430;
    box-shadow: 0 0 15px 2px white;
  }

  .card:hover .card-btn{
    color: #231F20;
  }

}