@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css");
@import url("https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.css");

.mat-mdc-snack-bar-container {
  &.green-snackbar {
    --mdc-snackbar-container-color: green;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
    letter-spacing: 1px;
    background-color: #11131e;
    transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
  }